
.App{
  text-align: center;
}

.Box{
  max-width: 200px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

p{
  font-size: 14px;
  text-align: center;
}

button{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: beige;
}

button.add{
  background-color: aqua;
  border-radius: 5px;
}

button.sub{
  background-color: rgb(233, 14, 14);
}