
.App{
  text-align: center;
}

a{
  text-decoration: none;
  color: 000000;
}

p{
  font-size: 14px;
  text-align: center;
}

button{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: beige;
}

button.add{
  background-color: aqua;
  border-radius: 5px;
}

button.sub{
  background-color: rgb(233, 14, 14);
}

/* .success{
  background-color: lawngreen;
  border-radius: 25%;
  padding: 2%;
  border-bottom: 10px;
  margin: 15px auto;
  box-shadow: 5% black;

} */




.hidden{
  display: none;
}



